* {
  margin: 0;
  padding: 0;
}
body {
  background-color: red;
}
.gameContainer {
  background-image: url(image/bg.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  width: 100%;
  height: 100vh;
}
.dino {
  left: 80px;
  background-image: url(image/dino.png);
  background-repeat: no-repeat;
  width: 415px;
  height: 210px;
  background-size: cover;
  position: absolute;
  bottom: 0;
}
.obstacle {
  left: 665px;
  background-image: url(image/dragon.png);
  background-size: cover;
  width: 319px;
  height: 211px;
  position: absolute;
  bottom: 0;
}

.animateDino {
  animation: dino 0.6s linear;
}

@keyframes dino {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 422px;
  }
  100% {
    bottom: 0;
  }
}
